@import url('https://fonts.googleapis.com/css?family=Roboto');

@import "_reset.scss";

body {
  font-family: 'Roboto', sans-serif;
  font-size: 18px;
}

header {
  height: 50px;
  background: rgba(100, 102, 31, 0.85);
}

.spacer {
  min-height: 300px;
  background: #60aeff;
}

.back-video-section {
  min-height: 100vh;
  position: relative;
  background: rgba(0, 0, 0, 0.32);

  &:before {
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background: black;
  }

  .video-type {
    z-index: 1;
    position: absolute;
    color: white;
    font-size: 100px;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
  }
}

.back-video {
  overflow: hidden;

  video, iframe {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);

  }
}
